<div class="container m-5 guide">
    <h3>Links</h3>
    <a href="http://localhost:3000/links/add">http://localhost:3000/links/add</a>
    <a href="http://localhost:3000/links/add">http://localhost:3000/links/add</a>
</div>